.Profile{
    width: 100vw;
    padding: 10px;
}
.Model-box{
    width: 40%;
    height: min-content;
    margin: 100px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    color: #1f1f1f;
    padding: 20px;
}
.BG-profile{
    background: linear-gradient(50deg, #45d9c9, #069bd9);
    color: #fff !important;
    width: 100% !important;
    padding-bottom: 20px !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    border-radius: 9px;
    display: flex;
    align-items: center;
}
.Bg-cont{
    background: transparent !important;
    backdrop-filter: blur(90px) !important;
    box-shadow: none !important;
}
.Data{
    background: #fff !important;
    border-radius: 9px !important;
    margin: 0 !important;
    padding: 10px !important;
    padding-left: 0 !important;
    padding-right: 20px !important;
    margin-top: 1.5rem !important;
    padding-bottom: 20px !important;
    width: 100% !important;
}
@media only screen and (max-width: 768px) {
    .Model-box{
        width: 95%;
        height: 70vh;
        overflow-y: scroll;
    }
    .cont-MUI{
        padding: 0 !important;
      }
      .GridProfile-MUI{
        padding: 5px !important;
      }
      .BG-profile{
        justify-content: center !important;
        flex-direction: column !important;
        padding: 20px !important;
        text-align: center !important;
      }
}